.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    gap: 10px;
}

.button{
    width: 150px;
    border: 1px solid white;
    border-radius: 16px;
    height:40px;
    background-color: darkslategray;
    color: white;
    
    font-size: 20;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: transparent;
    color:darkslategray;
    border: 1px solid darkslategray;
}
.input {
  width: 200px;
  height: 45px;
  margin-bottom: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 16px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px); 
  
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 0 12px;

  transition: all 0.3s ease;
  outline: none;
}
.errorPara{
    color: white;
}

.input:hover {
  border-color: #fff;
  box-shadow: 0 0 8px darkslategray;
}


.input:focus {
  border-color: #00f5ff;
  box-shadow: 0 0 10px darkslategray;
  background: rgba(255, 255, 255, 0.15);
}

.menu_link{
  font-size: 20px;
  padding-top: 10px;
}